@import '../variables.scss';
@import '../utils.scss';

.auth-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    font-size: 1.9rem;
    color: $color-grey-dark;
    background-color: rgba(58, 58, 58, .9);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity .4s ease;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

/*
Popup
*/
.auth-popup {
    position: relative;
    width: 100%;
    margin: 0 15px;
    padding: 45px 35px 15px;
    background: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .big-btn {
        width: 100%;
    }
    .footer-btn {
        margin: 25px 0 10px;
    }
}

@media (max-height: 440px) {
    /*Fix FAN-2275*/
    .auth-popup.signup {
        padding-top: 20px;
        .auth-icon {
            display: none;
        }
    }
}

$icon-sz: 55px;
.auth-icon {
    position: absolute;
    top: calc(-$icon-sz / 2);
    left: 50%;
    margin-left: calc(-$icon-sz / 2);
    border-radius: 50%;
    background: #fff;

    img {
        width: calc($icon-sz - 10px);
        margin: 5px;
    }
}

.auth-p {
    margin-bottom: 20px;
}

.auth-text {
    text-align: center;
}

.auth-text-sm {
    padding: 0 10px;
    font-size: 1rem;
    text-transform: uppercase;
}

.auth-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    .strike {
        width: 96px;
        height: 1px;
        &.flip {
            transform: rotate(180deg);
        }
    }

    margin: 15px 0 0;
}

/*
Form
*/
.auth-form {
    width: 100%;
    margin: 5px 0 10px;

    .share-btn {
        font-size: 1.4rem; /*TODO - make btn-sm, btn-md..*/
    }
    .money-btn {
        font-size: 1.9rem;
    }
    .input-error {
        position: absolute; /*inside form*/
    }
}

.link-small {
    font-size: 1.2rem;
    text-decoration: underline;
}

.link-small-x {
    position: absolute;
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 4px;
}

/*
Footer
*/
.auth-footer {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*
Restore Success
*/
.success-subtitle {
    font-size: 2.2rem;
    text-align: center;
}

.success-text {
    margin-bottom: 30px;
}
